In [1]:
###############################################################
# RFM ile Müşteri Segmentasyonu (Customer Segmentation with RFM)
###############################################################

In [2]:
###############################################################
# İş Problemi (Business Problem)
###############################################################
# FLO müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
# Buna yönelik olarak müşterilerin davranışları tanımlanacak ve bu davranış öbeklenmelerine göre gruplar oluşturulacak..

In [3]:
###############################################################
# Veri Seti Hikayesi
###############################################################

In [4]:
# Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından
# elde edilen bilgilerden oluşmaktadır.

In [5]:
# master_id: Eşsiz müşteri numarası
# order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
# last_order_channel : En son alışverişin yapıldığı kanal
# first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
# last_order_date : Müşterinin yaptığı son alışveriş tarihi
# last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
# last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
# order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
# order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
# customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
# customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
# interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

In [6]:
###############################################################
# GÖREVLER
###############################################################

In [7]:
import pandas as pd
import numpy as np  
import datetime as dt

In [8]:
###############################################################
# GÖREV 1: Veriyi Anlama (Data Understanding) ve Hazırlama

           # 1. flo_data_20K.csv verisini okuyunuz.
###############################################################

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 1000)
df_=pd.read_csv('flo_data_20k.csv')

In [10]:
df=df_.copy()

In [11]:
# 2. Veri setinde

In [12]:
# a. İlk 10 gözlem,
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]

In [13]:
# b. Değişken isimleri,

In [14]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [15]:
# c. Betimsel istatistik,
df.describe().T

                                      count    mean     std    min     25%     50%     75%       max
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000   2.000   4.000   200.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000   1.000   2.000   109.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990 179.980 319.970 18119.140
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980 286.460 578.440 45220.130

In [16]:
# d. Boş değer,
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [17]:
# d. Boş değer,
df.isna().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [18]:
# e. Değişken tipleri, incelemesi yapınız.

In [19]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [21]:
df.shape

(19945, 12)

In [22]:
df['master_id'].nunique()

19945

In [23]:
# 3. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
# alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.

In [24]:
df['order_total']=df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df['order_total'].head()

0    5.000
1   21.000
2    5.000
3    2.000
4    2.000
Name: order_total, dtype: float64

In [25]:
df['price_total']=df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df['price_total'].head()

0    939.370
1   2013.550
2    585.320
3    121.970
4    209.980
Name: price_total, dtype: float64

In [26]:
 # 4. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e

In [27]:
df.dtypes

master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
order_total                          float64
price_total                          float64
dtype: object

In [28]:
#1.yol:
date_columns=df.columns[df.columns.str.contains('date')]
date_columns

Index(['first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline'], dtype='object')

In [29]:
df[date_columns] = df[date_columns].apply(pd.to_datetime)
date_columns

Index(['first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline'], dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_total                        19945 non-null  float64
 13  price_total                        19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [31]:
#2.yol:
date_columns_2 = [ col for col in df.columns if 'date' in col]

In [32]:
#3.yol:(?)
# df[df.loc[:, df.columns.str.contains("date")]]

In [33]:
df["order_channel"].unique()

array(['Android App', 'Desktop', 'Mobile', 'Ios App'], dtype=object)

In [34]:
# 5. Alışveriş kanallarındaki müşteri sayısının, ortalama alınan ürün sayısının ve ortalama harcamaların dağılımına bakınız.
df.groupby('order_channel').agg({'master_id':'count',
                                 'order_total':'mean',
                                 'price_total':'mean'})

               master_id  order_total  price_total
order_channel
Android App         9495        5.505      823.493
Desktop             2735        3.993      588.783
Ios App             2833        5.419      891.634
Mobile              4882        4.441      620.275

In [35]:
# 6. En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

In [36]:
df.loc[:,['master_id','price_total']].sort_values(by='price_total',ascending=False).head(10)

                                  master_id  price_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f    45905.100
4315   d5ef8058-a5c6-11e9-a2fc-000d3a38a36f    36818.290
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f    33918.100
13880  7137a5c0-7aad-11ea-8f20-000d3a38a36f    31227.410
9055   47a642fe-975b-11eb-8c2a-000d3a38a36f    20706.340
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f    18443.570
8068   d696c654-2633-11ea-8e1c-000d3a38a36f    16918.570
163    fef57ffa-aae6-11e9-a2fc-000d3a38a36f    12726.100
7223   cba59206-9dd1-11e9-9897-000d3a38a36f    12282.240
18767  fc0ce7a4-9d87-11e9-9897-000d3a38a36f    12103.150

In [37]:
df.sort_values('order_total',ascending=False)[:10]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online                   interested_in_categories_12  order_total  price_total
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop       2013-10-11      2021-04-30             2021-04-30              2020-12-24                      200.000                         2.000                            684.970                         45220.130  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]      202.000    45905.100
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App       2013-02-21      2021-05-09             2021-05-09              2020-01-25                      130.000                         1.000                             49.990                         12232.250         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]      131.000    12282.240
8783   a57f4302-b1a8-11e9-89fa-000d3a38a36f   Android App            Offline       2019-08-07      2020-11-04             2020-09-07              2020-11-04                        2.000                       109.000                          10239.460                           143.980  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]      111.000    10383.440
2619   fdbe8304-a7ab-11e9-a2fc-000d3a38a36f   Android App            Offline       2018-10-18      2020-06-30             2018-10-18              2020-06-30                        1.000                        87.000                           8432.250                           139.980                                       [ERKEK]       88.000     8572.230
6322   329968c6-a0e2-11e9-a2fc-000d3a38a36f       Ios App            Ios App       2019-02-14      2021-04-05             2021-04-05              2020-02-17                        2.000                        81.000                           3997.550                           242.810                                       [ERKEK]       83.000     4240.360
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f       Ios App            Offline       2014-01-14      2021-05-18             2021-01-30              2021-05-18                       81.000                         1.000                           1263.760                         32654.340              [ERKEK, COCUK, KADIN, AKTIFSPOR]       82.000    33918.100
9347   44d032ee-a0d4-11e9-a2fc-000d3a38a36f        Mobile             Mobile       2019-02-11      2021-02-11             2021-02-11              2020-12-24                        3.000                        74.000                           4640.770                           543.280                            [KADIN, AKTIFSPOR]       77.000     5184.050
10954  b27e241a-a901-11e9-a2fc-000d3a38a36f        Mobile             Mobile       2015-09-12      2021-04-01             2021-04-01              2019-10-08                       72.000                         3.000                            292.930                          5004.950         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]       75.000     5297.880
8068   d696c654-2633-11ea-8e1c-000d3a38a36f       Ios App            Ios App       2017-05-10      2021-04-13             2021-04-13              2019-08-15                       69.000                         1.000                             82.480                         16836.090  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]       70.000    16918.570
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       Desktop            Desktop       2020-02-16      2021-04-30             2021-04-30              2020-12-18                       66.000                         4.000                            843.680                         17599.890                     [ERKEK, KADIN, AKTIFSPOR]       70.000    18443.570

In [38]:
# 8. Veri ön hazırlık sürecini fonksiyonlaştırınız.

In [39]:
def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df)

##################### Shape #####################
(19945, 14)
##################### Types #####################
master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
order_total                                 float64
price_total                                 float64
dtype: object
##################### Head #####################
                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  order_total  price_total
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]        5.000      939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]       21.000     2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]        5.000      585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]        2.000      121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]        2.000      209.980
##################### Tail #####################
                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online interested_in_categories_12  order_total  price_total
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline       2019-09-21      2020-07-05             2020-06-05              2020-07-05                        1.000                         2.000                            289.980                           111.980          [ERKEK, AKTIFSPOR]        3.000      401.960
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f       Desktop            Desktop       2020-03-01      2020-12-22             2020-12-22              2020-03-01                        1.000                         1.000                            150.480                           239.990                 [AKTIFSPOR]        2.000      390.470
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f       Ios App            Ios App       2019-09-11      2021-05-24             2021-05-24              2019-09-11                        2.000                         1.000                            139.980                           492.960                 [AKTIFSPOR]        3.000      632.940
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f   Android App        Android App       2019-03-27      2021-02-13             2021-02-13              2021-01-08                        1.000                         5.000                            711.790                           297.980          [ERKEK, AKTIFSPOR]        6.000     1009.770
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f   Android App        Android App       2019-09-03      2020-06-06             2020-06-06              2019-09-03                        1.000                         1.000                             39.990                           221.980          [KADIN, AKTIFSPOR]        2.000      261.970
##################### NA #####################
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
order_total                          0
price_total                          0
dtype: int64
##################### Quantiles #####################
                                      count                           mean                  min                   0%                   5%                  50%                  95%                  99%                 100%                  max     std
first_order_date                      19945  2019-03-22 16:43:55.246929152  2013-01-14 00:00:00  2013-01-14 00:00:00  2015-09-27 00:00:00  2019-08-20 00:00:00  2020-11-03 19:12:00  2021-03-09 13:26:24  2021-05-27 00:00:00  2021-05-27 00:00:00     NaN
last_order_date                       19945  2021-01-17 12:59:57.653547264  2020-05-30 00:00:00  2020-05-30 00:00:00  2020-07-01 00:00:00  2021-02-10 00:00:00  2021-05-23 00:00:00  2021-05-28 00:00:00  2021-05-30 00:00:00  2021-05-30 00:00:00     NaN
last_order_date_online                19945  2020-08-10 01:08:52.644773376  2014-02-24 00:00:00  2014-02-24 00:00:00  2018-04-10 04:48:00  2020-12-14 00:00:00  2021-05-20 00:00:00  2021-05-28 00:00:00  2021-05-30 00:00:00  2021-05-30 00:00:00     NaN
last_order_date_offline               19945  2020-05-17 12:07:24.021058048  2019-01-22 00:00:00  2019-01-22 00:00:00  2019-04-09 00:00:00  2020-06-22 00:00:00  2021-04-20 00:00:00  2021-05-26 00:00:00  2021-05-28 00:00:00  2021-05-28 00:00:00     NaN
order_num_total_ever_online       19945.000                          3.111                1.000                1.000                1.000                2.000               10.000               20.000              200.000              200.000   4.226
order_num_total_ever_offline      19945.000                          1.914                1.000                1.000                1.000                1.000                4.000                7.000              109.000              109.000   2.063
customer_value_total_ever_offline 19945.000                        253.923               10.000               10.000               39.990              179.980              694.222             1219.947            18119.140            18119.140 301.533
customer_value_total_ever_online  19945.000                        497.322               12.990               12.990               63.990              286.460             1556.726             3143.810            45220.130            45220.130 832.602
order_total                       19945.000                          5.025                2.000                2.000                2.000                4.000               12.000               22.000              202.000              202.000   4.743
price_total                       19945.000                        751.244               44.980               44.980              175.480              545.270             1921.924             3606.356            45905.100            45905.100 895.402

In [40]:
df[df["master_id"] == "00016786-2f5a-11ea-bb80-000d3a38a36f"]

                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online interested_in_categories_12  order_total  price_total
17817  00016786-2f5a-11ea-bb80-000d3a38a36f        Mobile             Mobile       2019-11-19      2021-05-22             2021-05-22              2020-10-05                        2.000                         3.000                            427.190                           348.880   [ERKEK, COCUK, AKTIFSPOR]        5.000      776.070

In [41]:
df.loc[df["master_id"] == "00016786-2f5a-11ea-bb80-000d3a38a36f", "master_id"]

17817    00016786-2f5a-11ea-bb80-000d3a38a36f
Name: master_id, dtype: object

In [42]:
###############################################################

# GÖREV 2: RFM Metriklerinin Hesaplanması recency , frequency , monetary

###############################################################

In [43]:
df['last_order_date'].max()

Timestamp('2021-05-30 00:00:00')

In [44]:
today_date=dt.datetime(2021,6,1)
today_date

datetime.datetime(2021, 6, 1, 0, 0)

In [45]:
df['last_order_date'].dtypes

dtype('<M8[ns]')

In [46]:
rfm=df.groupby('master_id').agg({'last_order_date': lambda last_order_date: ( today_date - last_order_date.max() ).days,
                                 "order_total": lambda order_total: order_total.sum(),
                                 "price_total": lambda price_total: price_total.sum()})

rfm.head()

                                      last_order_date  order_total  price_total
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f               10        5.000      776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f              298        3.000      269.470
000be838-85df-11ea-a90b-000d3a38a36f              213        4.000      722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f               27        7.000      874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f               20        7.000     1620.330

In [47]:
rfm.columns = ['recency', 'frequency', 'monetary']
rfm.head()

                                      recency  frequency  monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10      5.000   776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f      298      3.000   269.470
000be838-85df-11ea-a90b-000d3a38a36f      213      4.000   722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27      7.000   874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20      7.000  1620.330

In [48]:
###############################################################
# GÖREV 3: RF ve RFM Skorlarının Hesaplanması
###############################################################

In [49]:
rfm['recency_s'] =pd.qcut(rfm['recency'],5,labels=[5,4,3,2,1])

In [50]:
rfm['frequency_s']=pd.qcut(rfm['frequency'].rank(method='first'),5,labels=[1,2,3,4,5])

In [51]:
rfm["monetary_s"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

In [52]:
rfm['RFM_S']=(rfm['recency_s'].astype(str)+rfm['frequency_s'].astype(str))
rfm["RFM_S"] = (rfm['recency_s'].astype(str) + rfm['frequency_s'].astype(str))
rfm["RFM_S"] = (rfm['recency_s'].astype(str) + rfm['frequency_s'].astype(str))

In [55]:
rfm.head()

                                      recency  frequency  monetary recency_s frequency_s monetary_s RFM_S
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10      5.000   776.070         5           4          4    54
00034aaa-a838-11e9-a2fc-000d3a38a36f      298      3.000   269.470         1           2          1    12
000be838-85df-11ea-a90b-000d3a38a36f      213      4.000   722.690         2           3          4    23
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27      7.000   874.160         5           4          4    54
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20      7.000  1620.330         5           4          5    54

In [ ]:
# GÖREV 4: RF Skorlarının Segment Olarak Tanımlanması

In [57]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [58]:
rfm['segment']=rfm['RFM_S'].replace(seg_map,regex=True)

In [61]:
rfm[["segment","recency", "frequency", "monetary"]].groupby('segment').agg(['mean','count'])

                    recency       frequency       monetary
                       mean count      mean count     mean count
segment
about_to_sleep      114.032  1643     2.407  1643  361.649  1643
at_Risk             242.329  3152     4.470  3152  648.325  3152
cant_loose          235.159  1194    10.717  1194 1481.652  1194
champions            17.142  1920     8.965  1920 1410.709  1920
hibernating         247.426  3589     2.391  3589  362.583  3589
loyal_customers      82.558  3375     8.356  3375 1216.257  3375
need_attention      113.037   806     3.739   806  553.437   806
new_customers        17.976   673     2.000   673  344.049   673
potential_loyalists  36.870  2925     3.311  2925  533.741  2925
promising            58.695   668     2.000   668  334.153   668

In [62]:
rfm[rfm['segment']=='cant_loose'].head()

                                      recency  frequency  monetary recency_s frequency_s monetary_s RFM_S     segment
master_id
007cdfe4-1f54-11ea-87bf-000d3a38a36f      355      8.000   778.880         1           5          4    15  cant_loose
00f6c98e-abb5-11e9-a2fc-000d3a38a36f      163     12.000  2199.800         2           5          5    25  cant_loose
00f7553c-5bbb-11ea-b88d-000d3a38a36f      174     12.000  1754.270         2           5          5    25  cant_loose
017bd900-a97e-11e9-a2fc-000d3a38a36f      250      8.000   699.900         1           5          4    15  cant_loose
01defd1e-a582-11e9-a2fc-000d3a38a36f      244      8.000  1497.500         1           5          5    15  cant_loose

In [63]:
rfm.to_csv('rfm.csv')

In [64]:
###############################################################
# GÖREV 5: Aksiyon zamanı!
###############################################################

In [ ]:
# 1. Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.

In [66]:
#1.yol:
rfm.groupby('segment').agg({'recency':'mean', 'frequency':'mean','monetary':'mean'}).head()

                recency  frequency  monetary
segment
about_to_sleep  114.032      2.407   361.649
at_Risk         242.329      4.470   648.325
cant_loose      235.159     10.717  1481.652
champions        17.142      8.965  1410.709
hibernating     247.426      2.391   362.583

In [67]:
#2.yol:
rfm.groupby('segment')[["recency", "frequency", "monetary"]].mean()

                     recency  frequency  monetary
segment
about_to_sleep       114.032      2.407   361.649
at_Risk              242.329      4.470   648.325
cant_loose           235.159     10.717  1481.652
champions             17.142      8.965  1410.709
hibernating          247.426      2.391   362.583
loyal_customers       82.558      8.356  1216.257
need_attention       113.037      3.739   553.437
new_customers         17.976      2.000   344.049
potential_loyalists   36.870      3.311   533.741
promising             58.695      2.000   334.153

In [71]:
#3.yol:
rfm[["segment","recency","frequency","monetary"]].groupby("segment").apply(lambda col: col.mean())

                     recency  frequency  monetary
segment
about_to_sleep       114.032      2.407   361.649
at_Risk              242.329      4.470   648.325
cant_loose           235.159     10.717  1481.652
champions             17.142      8.965  1410.709
hibernating          247.426      2.391   362.583
loyal_customers       82.558      8.356  1216.257
need_attention       113.037      3.739   553.437
new_customers         17.976      2.000   344.049
potential_loyalists   36.870      3.311   533.741
promising             58.695      2.000   334.153

In [72]:
# 2. RFM analizi yardımı ile 2 case için ilgili profildeki müşterileri bulun ve müşteri id'lerini csv ye kaydediniz.

In [73]:
# a. FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri tercihlerinin üstünde. Bu nedenle markanın
# tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak iletişime geçeilmek isteniliyor. Sadık müşterilerinden(champions,loyal_customers),
# ortalama 250 TL üzeri ve kadın kategorisinden alışveriş yapan kişiler özel olarak iletişim kuralacak müşteriler. Bu müşterilerin id numaralarını csv dosyasına
# yeni_marka_hedef_müşteri_id.cvs olarak kaydediniz.

In [75]:
rfm=pd.merge(rfm,df[['master_id','interested_in_categories_12']],on='master_id',how='left')

In [78]:
rfm['category']=rfm['interested_in_categories_12'] # 1.YOL

In [79]:
#rfm=rfm.rename(columns={'interested_in_categories':'category'})

In [81]:
yeni_marka_hedef_musteri_id = rfm.loc[(rfm["monetary"] > 250) & (rfm["category"].str.contains("KADIN")) & ((rfm["segment"] == "champions") | (rfm["segment"] == "loyal_customers")), ["master_id", "monetary", "category", "segment"]]
yeni_marka_hedef_musteri_id.head(5)

                               master_id  monetary                                      category          segment
3   000c1fe2-a8b7-11ea-8479-000d3a38a36f   874.160  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]        champions
18  003903e0-abce-11e9-a2fc-000d3a38a36f   577.470                                       [KADIN]  loyal_customers
22  004bec18-9f7a-11e9-a2fc-000d3a38a36f   684.910                     [ERKEK, KADIN, AKTIFSPOR]  loyal_customers
25  00534fe4-a6b4-11e9-a2fc-000d3a38a36f   800.590                     [ERKEK, KADIN, AKTIFSPOR]  loyal_customers
49  009293fe-1f3e-11ea-87bf-000d3a38a36f   725.180                     [COCUK, KADIN, AKTIFSPOR]  loyal_customers

In [82]:
yeni_marka_hedef_musteri_id.to_csv('yeni_marka_hedef_müşteri_id.csv')

In [84]:
# del rfm["interested_in_categories_12"]

In [85]:
rfm.head()

                              master_id  recency  frequency  monetary recency_s frequency_s monetary_s RFM_S      segment                   interested_in_categories_12                                      category
0  00016786-2f5a-11ea-bb80-000d3a38a36f       10      5.000   776.070         5           4          4    54    champions                     [ERKEK, COCUK, AKTIFSPOR]                     [ERKEK, COCUK, AKTIFSPOR]
1  00034aaa-a838-11e9-a2fc-000d3a38a36f      298      3.000   269.470         1           2          1    12  hibernating                                [ERKEK, KADIN]                                [ERKEK, KADIN]
2  000be838-85df-11ea-a90b-000d3a38a36f      213      4.000   722.690         2           3          4    23      at_Risk                       [AKTIFCOCUK, AKTIFSPOR]                       [AKTIFCOCUK, AKTIFSPOR]
3  000c1fe2-a8b7-11ea-8479-000d3a38a36f       27      7.000   874.160         5           4          4    54    champions  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]
4  000f5e3e-9dde-11ea-80cd-000d3a38a36f       20      7.000  1620.330         5           4          5    54    champions                            [ERKEK, AKTIFSPOR]                            [ERKEK, AKTIFSPOR]

In [88]:
#2.yol
rfm[(rfm['monetary'] > 250 ) & (rfm['category']=='KADIN') & (rfm['segment'].isin(['champions', 'loyal_customers']))]

Empty DataFrame
Columns: [master_id, recency, frequency, monetary, recency_s, frequency_s, monetary_s, RFM_S, segment, interested_in_categories_12, category]
Index: []

In [91]:
#3.yol:
rfm.query('monetary > 250 and category == "KADIN" and segment in ["champions", "loyal_customers"]')

Empty DataFrame
Columns: [master_id, recency, frequency, monetary, recency_s, frequency_s, monetary_s, RFM_S, segment, interested_in_categories_12, category]
Index: []

In [94]:
#4.yol:
# rfm.groupby('segment').filter(lambda x: (x['monetary'] > 250) & (x['category'] == 'KADIN').any())

# rfm[(rfm["segment"] == "champions") | (rfm["segment"] == "loyal_customers")]

In [95]:
rfm.head()

                              master_id  recency  frequency  monetary recency_s frequency_s monetary_s RFM_S      segment                   interested_in_categories_12                                      category
0  00016786-2f5a-11ea-bb80-000d3a38a36f       10      5.000   776.070         5           4          4    54    champions                     [ERKEK, COCUK, AKTIFSPOR]                     [ERKEK, COCUK, AKTIFSPOR]
1  00034aaa-a838-11e9-a2fc-000d3a38a36f      298      3.000   269.470         1           2          1    12  hibernating                                [ERKEK, KADIN]                                [ERKEK, KADIN]
2  000be838-85df-11ea-a90b-000d3a38a36f      213      4.000   722.690         2           3          4    23      at_Risk                       [AKTIFCOCUK, AKTIFSPOR]                       [AKTIFCOCUK, AKTIFSPOR]
3  000c1fe2-a8b7-11ea-8479-000d3a38a36f       27      7.000   874.160         5           4          4    54    champions  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]
4  000f5e3e-9dde-11ea-80cd-000d3a38a36f       20      7.000  1620.330         5           4          5    54    champions                            [ERKEK, AKTIFSPOR]                            [ERKEK, AKTIFSPOR]

In [ ]:
# b. Erkek ve Çoçuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen geçmişte iyi müşteri olan ama uzun süredir
# alışveriş yapmayan kaybedilmemesi gereken müşteriler, uykuda olanlar ve yeni gelen müşteriler özel olarak hedef alınmak isteniliyor.
# Uygun profildeki müşterilerin id'lerini csv dosyasına indirim_hedef_müşteri_ids.csv
# olarak kaydediniz.

In [99]:
target_segments_customer_ids=rfm[rfm['segment'].isin(['cant_loose','hibernating','new_customers'])]['master_id']

target_segments_customer_ids.head()

1     00034aaa-a838-11e9-a2fc-000d3a38a36f
5     00136ce2-a562-11e9-a2fc-000d3a38a36f
9     0022f41e-5597-11eb-9e65-000d3a38a36f
11    00263f1a-210a-11ea-b50a-000d3a38a36f
16    0033f078-7359-11ea-92d0-000d3a38a36f
Name: master_id, dtype: object

In [104]:
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]

cust_ids.head()

7     3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f
10    ae608ece-c9d8-11ea-a31e-000d3a38a36f
15    13ed97a4-b167-11e9-89fa-000d3a38a36f
19    2730793e-3908-11ea-85d6-000d3a38a36f
21    7b289956-d691-11e9-93bc-000d3a38a36f
Name: master_id, dtype: object

In [105]:
cust_ids.to_csv("indirim_hedef_müşteri_ids.csv", index=False)

In [107]:
def crm_fonk(dataframe, head=5):

    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

    dataframe["order_total"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["price_total"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]

    date_columns = dataframe[dataframe.columns[dataframe.columns.str.contains("date")]].apply(pd.to_datetime)

    # GÖREV 2: RFM Metriklerinin Hesaplanması recency , frequency , monetary

    dataframe["last_order_date"].max()# 2021-05-30

    today_date = dt.datetime(2021,6,1)

    rfm = dataframe.groupby("master_id").agg({"last_order_date": lambda date: (today_date - date.max()).days,
                                       "order_total": lambda order_total: order_total.sum(),
                                       "price_total": lambda price_total: price_total.sum()})
    rfm.head()
    rfm.columns = ['recency', 'frequency', 'monetary']

    # GÖREV 3: RF ve RFM Skorlarının Hesaplanması

    rfm["recency_s"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm["frequency_s"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
    rfm["monetary_s"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])
    rfm["RFM_S"] = (rfm['recency_s'].astype(str) + rfm['frequency_s'].astype(str))

    # GÖREV 4: RF Skorlarının Segment Olarak Tanımlanması

    seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_Risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }
    rfm['segment'] = rfm['RFM_S'].replace(seg_map, regex=True)

    rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean", "count"])

    rfm[rfm["segment"] == "cant_loose"].head()

    rfm.to_csv("rfm.csv")

crm_fonk(df)

##################### Shape #####################
(19945, 14)
##################### Types #####################
master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
order_total                                 float64
price_total                                 float64
dtype: object
##################### Head #####################
                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  order_total  price_total
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]        5.000      939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]       21.000     2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]        5.000      585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]        2.000      121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]        2.000      209.980
##################### Tail #####################
                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online interested_in_categories_12  order_total  price_total
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline       2019-09-21      2020-07-05             2020-06-05              2020-07-05                        1.000                         2.000                            289.980                           111.980          [ERKEK, AKTIFSPOR]        3.000      401.960
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f       Desktop            Desktop       2020-03-01      2020-12-22             2020-12-22              2020-03-01                        1.000                         1.000                            150.480                           239.990                 [AKTIFSPOR]        2.000      390.470
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f       Ios App            Ios App       2019-09-11      2021-05-24             2021-05-24              2019-09-11                        2.000                         1.000                            139.980                           492.960                 [AKTIFSPOR]        3.000      632.940
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f   Android App        Android App       2019-03-27      2021-02-13             2021-02-13              2021-01-08                        1.000                         5.000                            711.790                           297.980          [ERKEK, AKTIFSPOR]        6.000     1009.770
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f   Android App        Android App       2019-09-03      2020-06-06             2020-06-06              2019-09-03                        1.000                         1.000                             39.990                           221.980          [KADIN, AKTIFSPOR]        2.000      261.970
##################### NA #####################
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
order_total                          0
price_total                          0
dtype: int64
##################### Quantiles #####################
                                      count                           mean                  min                   0%                   5%                  50%                  95%                  99%                 100%                  max     std
first_order_date                      19945  2019-03-22 16:43:55.246929152  2013-01-14 00:00:00  2013-01-14 00:00:00  2015-09-27 00:00:00  2019-08-20 00:00:00  2020-11-03 19:12:00  2021-03-09 13:26:24  2021-05-27 00:00:00  2021-05-27 00:00:00     NaN
last_order_date                       19945  2021-01-17 12:59:57.653547264  2020-05-30 00:00:00  2020-05-30 00:00:00  2020-07-01 00:00:00  2021-02-10 00:00:00  2021-05-23 00:00:00  2021-05-28 00:00:00  2021-05-30 00:00:00  2021-05-30 00:00:00     NaN
last_order_date_online                19945  2020-08-10 01:08:52.644773376  2014-02-24 00:00:00  2014-02-24 00:00:00  2018-04-10 04:48:00  2020-12-14 00:00:00  2021-05-20 00:00:00  2021-05-28 00:00:00  2021-05-30 00:00:00  2021-05-30 00:00:00     NaN
last_order_date_offline               19945  2020-05-17 12:07:24.021058048  2019-01-22 00:00:00  2019-01-22 00:00:00  2019-04-09 00:00:00  2020-06-22 00:00:00  2021-04-20 00:00:00  2021-05-26 00:00:00  2021-05-28 00:00:00  2021-05-28 00:00:00     NaN
order_num_total_ever_online       19945.000                          3.111                1.000                1.000                1.000                2.000               10.000               20.000              200.000              200.000   4.226
order_num_total_ever_offline      19945.000                          1.914                1.000                1.000                1.000                1.000                4.000                7.000              109.000              109.000   2.063
customer_value_total_ever_offline 19945.000                        253.923               10.000               10.000               39.990              179.980              694.222             1219.947            18119.140            18119.140 301.533
customer_value_total_ever_online  19945.000                        497.322               12.990               12.990               63.990              286.460             1556.726             3143.810            45220.130            45220.130 832.602
order_total                       19945.000                          5.025                2.000                2.000                2.000                4.000               12.000               22.000              202.000              202.000   4.743
price_total                       19945.000                        751.244               44.980               44.980              175.480              545.270             1921.924             3606.356            45905.100            45905.100 895.402