In [68]:
##############################################################
# BG-NBD ve Gamma-Gamma ile CLTV Prediction
##############################################################

In [69]:
import numpy as np
import pandas as pd
import datetime as dt 
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None
pd.set_option('display.width', 1000)

In [70]:
###############################################################
# İş Problemi (Business Problem)
###############################################################
# FLO satış ve pazarlama faaliyetleri için roadmap belirlemek istemektedir.
# Şirketin orta uzun vadeli plan yapabilmesi için var olan müşterilerin gelecekte şirkete sağlayacakları potansiyel değerin tahmin edilmesi gerekmektedir.

In [71]:
###############################################################
# Veri Seti Hikayesi
###############################################################

In [72]:
# Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından
# elde edilen bilgilerden oluşmaktadır.

In [73]:
# master_id: Eşsiz müşteri numarası
# order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
# last_order_channel : En son alışverişin yapıldığı kanal
# first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
# last_order_date : Müşterinin yaptığı son alışveriş tarihi
# last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
# last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
# order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
# order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
# customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
# customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
# interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

In [74]:
###############################################################
# GÖREVLER
###############################################################

In [75]:
###############################################################
# GÖREV 1: Veriyi Hazırlama# 
###############################################################

In [76]:
# 1. flo_data_20K.csv verisini okuyunuz.Dataframe’in kopyasını oluşturunuz.

In [77]:
df_=pd.read_csv('flo_data_20k.csv')

In [78]:
df=df_.copy()
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                         4.00                          1.00                             139.99                            799.38                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                        19.00                          2.00                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                         3.00                          2.00                             189.97                            395.35                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                         1.00                          1.00                              39.99                             81.98               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                         1.00                          1.00                              49.99                            159.99                       [AKTIFSPOR]

In [79]:
# 2. Aykırı değerleri baskılamak için gerekli olan outlier_thresholds ve replace_with_thresholds fonksiyonlarını tanımlayınız.

In [80]:
def outlier_thresholds(dataframe,variable):
    q1 = dataframe[variable].quantile(0.01)
    q3 = dataframe[variable].quantile(0.99)
    interquantile_range = q3 - q1
    up_limit = q3 + 1.5 * interquantile_range
    low_limit = q1 - 1.5 * interquantile_range
    return low_limit, up_limit

In [81]:
def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = round(low_limit, 0)
    dataframe.loc[(dataframe[variable] > up_limit), variable] = round(up_limit, 0)
    
  # Not: cltv hesaplanırken frequency değerleri integer olması gerekmektedir.Bu nedenle alt ve üst limitlerini round() ile yuvarlayınız.

In [82]:
# 3. "order_num_total_ever_online","order_num_total_ever_offline","customer_value_total_ever_offline","customer_value_total_ever_online" değişkenlerinin
           # aykırı değerleri varsa baskılayanız.

In [83]:
variables_to_check = [
    'order_num_total_ever_online',
    'order_num_total_ever_offline',
    'customer_value_total_ever_offline',
    'customer_value_total_ever_online'
]

In [84]:
for variable in variables_to_check :
    replace_with_thresholds(df, variable)

replace_with_thresholds(df,'order_num_total_ever_online')

In [85]:
 # 4. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Herbir müşterinin toplam
 # alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.

In [86]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [87]:
date_columns=df.columns[df.columns.str.contains('date')]

In [88]:
df[date_columns]=df[date_columns].apply(pd.to_datetime)
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [89]:
df["total_num"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"]

df["total_cost"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

In [90]:
# 5. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

In [91]:
df.dtypes

master_id                                    object
order_channel                                object
last_order_channel                           object
first_order_date                     datetime64[ns]
last_order_date                      datetime64[ns]
last_order_date_online               datetime64[ns]
last_order_date_offline              datetime64[ns]
order_num_total_ever_online                 float64
order_num_total_ever_offline                float64
customer_value_total_ever_offline           float64
customer_value_total_ever_online            float64
interested_in_categories_12                  object
total_num                                   float64
total_cost                                  float64
dtype: object

In [92]:
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [93]:
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  total_num  total_cost
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                         4.00                          1.00                             139.99                            799.38                           [KADIN]       5.00      939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                        19.00                          2.00                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]      21.00     2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                         3.00                          2.00                             189.97                            395.35                    [ERKEK, KADIN]       5.00      585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                         1.00                          1.00                              39.99                             81.98               [AKTIFCOCUK, COCUK]       2.00      121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                         1.00                          1.00                              49.99                            159.99                       [AKTIFSPOR]       2.00      209.98

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_num                          19945 non-null  float64
 13  total_cost                         19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [95]:
###############################################################
# GÖREV 2: CLTV Veri Yapısının Oluşturulması
###############################################################

In [96]:
# 1.Veri setindeki en son alışverişin yapıldığı tarihten 2 gün sonrasını analiz tarihi olarak alınız.

In [97]:
df['last_order_date'].max()

Timestamp('2021-05-30 00:00:00')

In [98]:
today_date=dt.datetime(2021,6,1)
today_date

datetime.datetime(2021, 6, 1, 0, 0)

In [99]:
# 2.customer_id, recency_cltv_weekly, T_weekly, frequency ve monetary_cltv_avg değerlerinin yer aldığı yeni bir cltv dataframe'i oluşturunuz.
# Monetary değeri satın alma başına ortalama değer olarak, recency ve tenure değerleri ise haftalık cinsten ifade edilecek.

In [100]:
cltv_df=pd.DataFrame()

In [101]:
cltv_df = pd.DataFrame()
cltv_df["customer_id"] = df["master_id"]
cltv_df["recency_cltv_weekly"] = ((df["last_order_date"]- df["first_order_date"]).dt.days) / 7
cltv_df["T_weekly"] = ((today_date - df["first_order_date"]).dt.days) / 7
cltv_df["frequency"] = df["total_num"]
cltv_df["monetary_cltv_avg"] = df["total_cost"] / df["total_num"]

cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg
0  cc294636-19f0-11eb-8d74-000d3a38a36f                17.00     30.57       5.00             187.87
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f               209.86    224.86      21.00              95.88
2  69b69676-1a40-11ea-941b-000d3a38a36f                52.29     78.86       5.00             117.06
3  1854e56c-491f-11eb-806e-000d3a38a36f                 1.57     20.86       2.00              60.98
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f                83.14     95.43       2.00             104.99

In [102]:
###############################################################
# GÖREV 3: BG/NBD, Gamma-Gamma Modellerinin Kurulması, CLTV'nin hesaplanması
###############################################################

In [103]:
# 1. BG/NBD modelini fit ediniz.

In [104]:
bgf=BetaGeoFitter(penalizer_coef=0.001)
bgf.fit(cltv_df['frequency'],
        cltv_df['recency_cltv_weekly'],
        cltv_df['T_weekly'])

c:\Users\xxxx\anaconda3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [105]:
# a. 3 ay içerisinde müşterilerden beklenen satın almaları tahmin ediniz ve exp_sales_3_month olarak cltv dataframe'ine ekleyiniz.

In [106]:
cltv_df['exp_sales_3_month'] =bgf.predict(4*3,
                                           cltv_df['frequency'],
                                           cltv_df['recency_cltv_weekly'],
                                           cltv_df['T_weekly'])

In [107]:
cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month
0  cc294636-19f0-11eb-8d74-000d3a38a36f                17.00     30.57       5.00             187.87               0.97
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f               209.86    224.86      21.00              95.88               0.98
2  69b69676-1a40-11ea-941b-000d3a38a36f                52.29     78.86       5.00             117.06               0.67
3  1854e56c-491f-11eb-806e-000d3a38a36f                 1.57     20.86       2.00              60.98               0.70
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f                83.14     95.43       2.00             104.99               0.40

In [108]:
# b. 6 ay içerisinde müşterilerden beklenen satın almaları tahmin ediniz ve exp_sales_6_month olarak cltv dataframe'ine ekleyiniz.

cltv_df["exp_sales_6_month"] = bgf.predict(4*6,
                                       cltv_df['frequency'],
                                       cltv_df['recency_cltv_weekly'],
                                       cltv_df['T_weekly'])

In [109]:
# 2. Gamma-Gamma modelini fit ediniz. Müşterilerin ortalama bırakacakları değeri tahminleyip exp_average_value olarak cltv dataframe'ine ekleyiniz.

In [110]:
ggf = GammaGammaFitter(penalizer_coef=0.01)
ggf.fit(cltv_df['frequency'], cltv_df['monetary_cltv_avg'])
cltv_df['exp_average_value'] =ggf.conditional_expected_average_profit(cltv_df['frequency'], cltv_df['monetary_cltv_avg'])

In [111]:
# 6 aylık CLTV hesaplayınız ve cltv ismiyle dataframe'e ekleyiniz.

In [112]:
cltv = ggf.customer_lifetime_value(bgf,
                                   cltv_df['frequency'],
                                   cltv_df['recency_cltv_weekly'],
                                   cltv_df['T_weekly'],
                                   cltv_df['monetary_cltv_avg'],
                                   time=6,
                                   freq="W",
                                   discount_rate=0.01)

In [113]:
cltv.head()

0   395.73
1   199.43
2   170.22
3    98.95
4    95.01
Name: clv, dtype: float64

In [114]:
cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value
0  cc294636-19f0-11eb-8d74-000d3a38a36f                17.00     30.57       5.00             187.87               0.97               1.95             193.63
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f               209.86    224.86      21.00              95.88               0.98               1.97              96.67
2  69b69676-1a40-11ea-941b-000d3a38a36f                52.29     78.86       5.00             117.06               0.67               1.34             120.97
3  1854e56c-491f-11eb-806e-000d3a38a36f                 1.57     20.86       2.00              60.98               0.70               1.40              67.32
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f                83.14     95.43       2.00             104.99               0.40               0.79             114.33

In [115]:
# b. Cltv değeri en yüksek 20 kişiyi gözlemleyiniz.

In [116]:
cltv_df['cltv']=cltv

In [117]:
cltv_df.sort_values("cltv",ascending=False).head(20)

                                customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value    cltv
9055   47a642fe-975b-11eb-8c2a-000d3a38a36f                 2.86      7.86       4.00            1401.80               1.09               2.19            1449.06 3327.78
13880  7137a5c0-7aad-11ea-8f20-000d3a38a36f                 6.14     13.14      11.00             758.09               1.97               3.94             767.36 3172.39
17323  f59053e2-a503-11e9-a2fc-000d3a38a36f                51.71    101.00       7.00            1106.47               0.72               1.44            1127.61 1708.98
12438  625f40a2-5bd2-11ea-98b0-000d3a38a36f                74.29     74.57      16.00             501.87               1.57               3.13             506.17 1662.61
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f                62.71     67.29      52.00             166.22               4.66               9.31             166.71 1628.89
8868   9ce6e520-89b0-11ea-a6e7-000d3a38a36f                 3.43     34.43       8.00             601.23               1.27               2.53             611.49 1623.81
6402   851de3b4-8f0c-11eb-8cb8-000d3a38a36f                 8.29      9.43       2.00             862.69               0.79               1.59             923.68 1538.86
6666   53fe00d4-7b7a-11eb-960b-000d3a38a36f                 9.71     13.00      17.00             259.87               2.78               5.56             262.07 1529.23
19538  55d54d9e-8ac7-11ea-8ec0-000d3a38a36f                52.57     58.71      31.00             228.53               3.08               6.17             229.61 1485.82
14858  031b2954-6d28-11eb-99c4-000d3a38a36f                14.86     15.57       3.00             743.59               0.87               1.74             778.05 1423.00
17963  8fd88976-6708-11ea-9d38-000d3a38a36f                50.29     63.29       7.00             694.20               0.92               1.84             707.69 1362.61
15516  9083981a-f59e-11e9-841e-000d3a38a36f                63.57     83.86       4.00            1090.36               0.57               1.15            1127.35 1359.44
6717   40b4f318-9dfb-11eb-9c47-000d3a38a36f                27.14     33.86       7.00             544.70               1.16               2.33             555.41 1355.44
4157   7eed6468-4540-11ea-acaf-000d3a38a36f                89.14     90.00      27.00             289.76               2.21               4.43             291.29 1353.53
4735   dbabb58e-6312-11ea-a6dc-000d3a38a36f                61.29     64.29      13.00             442.12               1.42               2.85             446.82 1334.83
11694  90f1b7f2-bbad-11ea-a0c9-000d3a38a36f                47.29     48.00       6.00             647.34               0.93               1.87             662.11 1297.52
11179  d2e74a36-3228-11eb-860c-000d3a38a36f                 1.14     26.29       3.00             750.57               0.78               1.56             785.34 1286.14
1853   f02473b0-43c3-11eb-806e-000d3a38a36f                17.29     23.14       2.00             835.88               0.68               1.37             895.04 1285.23
5775   e31293ac-d63a-11e9-93bc-000d3a38a36f                91.71     93.14       8.00             727.09               0.83               1.65             739.39 1282.58
7312   90befc98-925a-11eb-b584-000d3a38a36f                 4.14      8.86       6.00             431.33               1.36               2.73             441.40 1263.19

In [118]:
###############################################################
# GÖREV 4: CLTV'ye Göre Segmentlerin Oluşturulması
###############################################################

In [119]:
# 1. 6 aylık tüm müşterilerinizi 4 gruba (segmente) ayırınız ve grup isimlerini veri setine ekleyiniz. cltv_segment ismi ile dataframe'e ekleyiniz.
# 2. 4 grup içerisinden seçeceğiniz 2 grup için yönetime kısa kısa 6 aylık aksiyon önerilerinde bulununuz

In [120]:
cltv_df['cltv_segment']=pd.qcut(cltv_df['cltv'],4,labels=['D','C','B','A'])

In [121]:
cltv_df.head()

                            customer_id  recency_cltv_weekly  T_weekly  frequency  monetary_cltv_avg  exp_sales_3_month  exp_sales_6_month  exp_average_value   cltv cltv_segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f                17.00     30.57       5.00             187.87               0.97               1.95             193.63 395.73            A
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f               209.86    224.86      21.00              95.88               0.98               1.97              96.67 199.43            B
2  69b69676-1a40-11ea-941b-000d3a38a36f                52.29     78.86       5.00             117.06               0.67               1.34             120.97 170.22            B
3  1854e56c-491f-11eb-806e-000d3a38a36f                 1.57     20.86       2.00              60.98               0.70               1.40              67.32  98.95            D
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f                83.14     95.43       2.00             104.99               0.40               0.79             114.33  95.01            D

In [ ]:
# BONUS: Tüm süreci fonksiyonlaştırınız.

###############################################################
# GÖREV 1: Veriyi Hazırlama
###############################################################


# 1. OmniChannel.csv verisini okuyunuz.Dataframe’in kopyasını oluşturunuz.


# 2. Aykırı değerleri baskılamak için gerekli olan outlier_thresholds ve replace_with_thresholds fonksiyonlarını tanımlayınız.
# Not: cltv hesaplanırken frequency değerleri integer olması gerekmektedir.Bu nedenle alt ve üst limitlerini round() ile yuvarlayınız.


# 3. "order_num_total_ever_online","order_num_total_ever_offline","customer_value_total_ever_offline","customer_value_total_ever_online" değişkenlerinin
#aykırı değerleri varsa baskılayanız.


# 4. Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir.
# Herbir müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturun.

# 5. Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

###############################################################
# GÖREV 2: CLTV Veri Yapısının Oluşturulması
###############################################################

# 1.Veri setindeki en son alışverişin yapıldığı tarihten 2 gün sonrasını analiz tarihi olarak alınız.


# 2.customer_id, recency_cltv_weekly, T_weekly, frequency ve monetary_cltv_avg değerlerinin yer aldığı yeni bir cltv dataframe'i oluşturunuz.



###############################################################
# GÖREV 3: BG/NBD, Gamma-Gamma Modellerinin Kurulması, 6 aylık CLTV'nin hesaplanması
###############################################################

# 1. BG/NBD modelini kurunuz.


# 3 ay içerisinde müşterilerden beklenen satın almaları tahmin ediniz ve exp_sales_3_month olarak cltv dataframe'ine ekleyiniz.


# 6 ay içerisinde müşterilerden beklenen satın almaları tahmin ediniz ve exp_sales_6_month olarak cltv dataframe'ine ekleyiniz.

# 3. ve 6.aydaki en çok satın alım gerçekleştirecek 10 kişiyi inceleyeniz.



# 2.  Gamma-Gamma modelini fit ediniz. Müşterilerin ortalama bırakacakları değeri tahminleyip exp_average_value olarak cltv dataframe'ine ekleyiniz.


# 3. 6 aylık CLTV hesaplayınız ve cltv ismiyle dataframe'e ekleyiniz.


# CLTV değeri en yüksek 20 kişiyi gözlemleyiniz.




###############################################################
# GÖREV 4: CLTV'ye Göre Segmentlerin Oluşturulması
###############################################################

# 1. 6 aylık CLTV'ye göre tüm müşterilerinizi 4 gruba (segmente) ayırınız ve grup isimlerini veri setine ekleyiniz.
# cltv_segment ismi ile atayınız.


# 2. Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.


# cltv_df.groupby("cltv_segment").agg({
#     "recency_cltv_weekly": "mean",
#     "frequency": "mean",
#     "monetary_cltv_avg": "mean"
# }).reset_index()